.container {
        width:700px;
        display:grid;
        grid-template-rows:repeat(3, 100px);
        grid-template-areas: 
          "box1 box1 box1"
          "box2 box3 box3"
          "box2 box4 box5";
        gap: 1rem;
}

.box{
        color:#fff;
        text-align:center;
}   
.box1 {
        background-color:#5173a4;      
        grid-area: box1;
}
.box2 {
        background-color:#96b799;
        grid-area: box2;
}
.box3 {
        background-color:#ffb464;
        grid-area: box3;
}
.box4 {
        background-color:#ffe77d;
        grid-area: box4;
}
.box5 {
        background-color:#ff8585;
        grid-area: box5;
}